Package: app.salatok.gtk
Source: salatokapp
Version: 0.8
Architecture: all
Maintainer: adenlall <lalladen@naver.com>
Installed-Size: 7
Depends: gjs
Section: utils
Priority: optional
Description: Get salat timing at your linux app.
