Source: salatokapp
Section: utils
Priority: optional
Maintainer: aden lall <adenlall@skiff.com>
Build-Depends: debhelper-compat (= 13),
Build-Depends-Indep: desktop-file-utils <!nocheck>,
                     geoclue-2.0,
                     gjs (>= 1.71.0),
                     itstool,
                     libgdk-pixbuf-2.0-dev,
                     libgirepository1.0-dev (>= 1.35.9),
                     libgjs-dev (>= 1.50.0),
                     libglib2.0-dev,
                     libgtk-4-dev (>= 4.5),
                     libxml2-utils,
                     meson (>= 0.50),
                     pkg-config (>= 0.22)
Rules-Requires-Root: no
Standards-Version: 4.6.0
Vcs-Browser: https://salsa.debian.org/adenlall/salatok-gtk4
Vcs-Git: https://salsa.debian.org/adenlall/salatok-gtk4.git
Homepage: https://salatok.vercek.app/

Package: salatokapp
Architecture: all
Depends: geoclue-2.0 (>= 2.3.1),
         gir1.2-geoclue-2.0 (>= 0.12.99),
         gir1.2-glib-2.0 (>= 1.35.9),
         gir1.2-gtk-4.0 (>= 4.5),
         gir1.2-gweather-4.0 (>= 3.90.0),
         gjs (>= 1.71.0),
         libglib2.0-bin (>= 2.40),
         ${misc:Depends}
Description: fully controlled Muslims pray times and Quran reader.
 Get pray times at your desktop.
 with full control over the methods adjustment.
 this app can work without connection or sending your IP address anywhere.
 you can read Quran with multiples translations.