[Desktop Entry]
Name=Salatok App
GenericName=Muslim Pray Times
Comment=Get salat ( prayer ) timing with Quran reader and reciter intergated
Icon=@APP_ID@
Exec=@APP_ID@
StartupNotify=true
Type=Application
Terminal=false
DBusActivatable=true
Categories=GNOME;GTK;Accessibility;Core;
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords=Salat;Quran;Prayer;Islam;Time;

