[Desktop Entry]
Name=Salatok
GenericName=Muslim Prayer Times
Comment=Get all day prayer times
Exec=io.github.adenlall.salatok-gtk
Icon=@APP_ID@
Type=Application
Terminal=false
StartupNotify=true
Categories=GNOME;GTK;Accessibility;Core;
Keywords=Salat;Quran;Prayer;Islam;Time;

